---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";

import ItemCard from "@components/itemCard/itemCard.astro"

import SingleItemCard from "@components/singleitemcard.astro";
import CardGrid from "@components/cardgrid.astro";

// Generate a new path for every  entry
export async function getStaticPaths() {
  const itemEntries = await getCollection("collection-group");
  return itemEntries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;

---

<Layout title={entry.data.title}>
  <Container>
    <div class="mx-auto max-w-3xl mt-14">
      <div class="mb-3">
        <span class="inline-flex items-center rounded-md bg-purple-100 px-2 py-1 text-sm font-medium text-purple-700">Collection Group</span>
      </div>

      <h1
        class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
        {entry.data.title}
      </h1>
      
    </div>

      <CardGrid>
      { entry.data.items.map((collectionGroupItem) => (
          <ItemCard identifier={collectionGroupItem.id} />
      )

      ) }
      </CardGrid>
    
  </Container>
</Layout>
