<div class="max-w-sm rounded overflow-hidden shadow-lg">
    <div class="border-r border-b border-l border-gray-400 lg:border-l-0 bg-white flex flex-col justify-between leading-normal">
        <slot>
    </div>
</div>
  