---
import Card from "@components/card.astro"
import { getEntries } from "astro:content";
import ItemThumbnail from "@components/itemthumbnail.astro"
const { item } = Astro.props;

const collectionItems = await getEntries(item.data.items);

let featuredItem = collectionItems.filter(function(i) {
  return i.id === item.data.featured.id
})[0];

---
<Card>
    <ItemThumbnail id={featuredItem.id} />
    {item.data.title && 
    <div class="p-4">
        <div class="text-gray-900 font-bold text-xl mb-2">
          <a href=`${item.collection}/${item.id}` >{item.data.title}</a>
        </div>
    </div>
    }
</Card>