---
import { Picture } from "@astrojs/image/components";

export interface Props {
  title: string;
  heroText: string;
}


const { title, heroText } = Astro.props;
---

<main
  class="grid lg:grid-cols-1 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div>
    <h1
      class="text-5xl lg:text-6xl font-bold lg:tracking-tight">
      {heroText}
    </h1>
  </div>
</main>
